
body{
  background: cornflowerblue;
  background-image: url("../../img/purple-clouds.jpg");
  background-repeat: space;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 5px;
  border: 10px;
  margin: 30px;
}
