
body{
  background: cornflowerblue;
  background-image: url("../img/blue-sky.jpg");
  background-repeat: space;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 5px;
  border: 10px;
  margin: 30px;
}

header{
  background-color: #6ab6cfe0;
  background-image: url("../img/welcome.jpg");
  background-repeat: round;
  background-size: inherit;
  background-attachment: initial;
  height: 225px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 50px;
}

p, li{
  font-family: 'Happy Monkey', cursive, sans-serif;
  padding-inline-start: 20px;
  line-height: 25px;
  font-size: 20px;
}

h2{
  font-family: 'Crafty Girls', cursive, sans-serif;
  padding-inline-start: 20px;
  font-size: 30px;
  margin-bottom: 5px;
  color: white;
}

main{
  display: inline-block;
  right: 150px;
  margin: 10px;
  width: 100%;
  min-width: 300px;
  padding: 20px;
  background-color: purple;
  background-image: linear-gradient(#63e9ffdd, #229ef9c2, #2252da);
  border: double 8px black;
  border-radius: 20px;
}

.major-section h1{
  width: 400px;
}

#labs{
  display: inline-block;
  float: right;
  width: 20%;
  min-width: 200px;
  position: sticky;
  margin: 10px;
  min-width: 300px;
  padding: 10px;
  background-color: #165d90ad;
  background-image: linear-gradient(#3c5be0bf, #0072ffbf, #1986efbf, #24d7ffbf);
}

#content, #lab{
  padding-left: 15px;
  padding-right: 15px;
}

img{
  width: 150px;
  float: right;
  padding: 20px;
  border-radius: 70px;
  filter: drop-shadow(15px 10px 15px black);
}

#my-image :hover{
  filter: grayscale();
}

div.absolute{
  position: absolute;
  right: 0;
  top: 80%;
  width: 100%;
  min-width: 300px;
  height: 350px;
}
